<% provide(:title, 'All Users') %>
<h1>メンバー一覧</h1>

<div class="col-md-12 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th class="center">
        <% if current_user.admin? %>
          <%= User.human_attribute_name :phone %>
        <% end %>   
        </th>
        <th class="center">
        <% if current_user.admin? %>
          <%= User.human_attribute_name :address %>
        <% end %>  
        </th>
        <th class="center"><%= User.human_attribute_name :history %></th>
        <th class="center"><%= User.human_attribute_name :self_introduction %></th>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <th class="center">
        <% if current_user.admin? %>
          <%= user.phone %>
        <% end %>  
        </th>
        <th class="center">
        <% if current_user.admin? %>
          <%= user.address %>
          <div id="map"></div>


<style>
#map{
  height: 150px;
  width:270px;
}
</style>

<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= user.latitude %>, lng: <%= user.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= user.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBfIQOnJ4LDiq_iJtQFZrVmqPOyfeVBF2o&callback=initMap">
</script>
  </div>
</div>


        </th>
        <% end %> 
        <th class="center"><%= user.history %></th>
        <th class="center"><%= simple_format(user.self_introduction) %></th>
        <td>
            <% if current_user.admin? %>
              <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
            <% end %>    
         </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>