<% provide(:title, 'All Users') %>
<h1>メンバー紹介</h1>
<div class=" align-items-center">
</div>


<div class="col-md-12 ">
  <%= will_paginate %>
  <table class="table table-hover" id="table-users">
    <thead class="thead-light">
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th class="center"><%= User.human_attribute_name :history %></th>
        <th class="center"><%= User.human_attribute_name :self_introduction %></th>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= image_tag user.image.url if user.image? %></td>
        <td><%= user.history %></td>
       <td><%= user.self_introduction %></td>
        <td>
          <% if current_user.admin? %>
              <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>  
          <% end %>        
         </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

