<div class="d-flex align-items-center">
  <h1>日程とお知らせ</h1>
  <div class="ml-auto boards__linkBox">
    <%= form_with url: boards_path, method: :get, class: 'boards__searchForm' do %>
    <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み',
                       class: 'form-control boards__select',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
    <% if current_user.admin? %>
    <a href="/boards/new" class="btn btn-outline-success">新規作成</a>
    <% end %>
  </div>
</div>

<p style="margin-top: 10px;"><a href="https://lin.ee/ivgSV3A"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>←こちらでも日程とお知らせをしています。</p>

<table class="table table-hover boards__table">
  <thead class="thead-light">
    <tr>
      <th>タイトル</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
    <tr>
      <td><%= board.title %></td>
      <td><%= board.created_at.to_s(:datetime_jp) %></td>
      <td><%= board.updated_at.to_s(:datetime_jp) %></td>
      <td><%= link_to '詳細', board, class: "btn btn-primary " %></td>
      <td>
        <% if current_user.admin? %>
        <%= link_to '削除', board, class: 'btn btn-outline-dark', method: :delete,  data: { confirm: '削除してよろしいですか？' }, class: "btn btn-danger" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @boards %>