<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <%= link_to '日程、お知らせ一覧へ', boards_path, class: 'btn btn-secondary' %>
    <%= link_to '編集', edit_board_path(@board), class: 'btn btn-info' %>
  </div>
</div>


<%= render @board %>



<div class="p-comment__list">
  <div class="p-comment__listTitle">コメント</div>
  <%= render @board.comments %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment } %>

