<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "◯◯BaseballClub", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", root_path %></li>&emsp;
        <% if user_signed_in? %>
          <li><%= link_to "メンバー一覧", users_path %></li>&emsp;
          <li><%= link_to '日程とお知らせ', boards_path %></li>&emsp;
          <li><%= link_to "プロフィール変更", edit_user_registration_path %></li>&emsp;
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to "メンバー募集情報", users_index_member_path %></li>&emsp;
          <li><%= link_to "お問い合わせ", users_index_contact_path %></li>&emsp;
          &emsp;<li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</nav>
