<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container ">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active"><%= link_to "HOME", root_path, class: "nav-link"  %></li>&emsp;
        <% if user_signed_in? %>
        <li class="nav-item active"><%= link_to "選手紹介", users_path, class: "nav-link" %></li>&emsp;
        <li class="nav-item active"><%= link_to '日程とお知らせ一覧', boards_path, class: "nav-link"  %></li>&emsp;
        <li class="nav-item active"><%= link_to "活動場所", users_index_map_path, class: "nav-link"  %></li>&emsp;
        <li class="nav-item active"><%= link_to "プロフィール変更", edit_user_registration_path, class: "nav-link"  %></li>&emsp;
        <li class="nav-item active"><%= link_to "選手データ", users_index_run_path, class: "nav-link" %></li>&emsp;
        <% if current_user.admin? %>
        <li class="nav-item active"><%= link_to "選手情報", users_index_information_path, class: "nav-link"  %></li>&emsp;
        <% end %>
        <li class="nav-item active">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"  %>
        </li>
        <% else %>
        <li class="nav-item active"><%= link_to "メンバー募集情報", users_index_member_path, class: "nav-link"  %></li>&emsp;
        <li class="nav-item active"><%= link_to "活動場所", users_index_map_path, class: "nav-link"  %></li>&emsp;
        &emsp;<li class="nav-item active"><%= link_to "ログイン", new_user_session_path, class: "nav-link"  %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</nav>