<div class="profile">
<h2>プロフィール変更</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス入力" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age, autofocus: true, autocomplete: "name", placeholder: "年齢入力" %>
  </div>

  <div class="field">
    <%= f.label :residence %><br />
    <%= f.text_field :residence, autofocus: true, autocomplete: "name", placeholder: "住所入力" %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender, autofocus: true, autocomplete: "name", placeholder: "性別入力" %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autofocus: true, autocomplete: "name", placeholder: "電話番号入力" %>
  </div>

  <div class="field">
    <%= f.label :history %><br />
    <%= f.text_field :history, autofocus: true, autocomplete: "name", placeholder: "野球歴入力" %>
  </div>


  <div class="field">
    <%= f.label :self_introduction %><br />
    <%= f.text_area :self_introduction, autofocus: true, autocomplete: "name", rows: 5 , placeholder: "自己紹介入力"  %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード入力" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認入力" %>
  </div>

  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在パスワード入力" %>
  </div>

  <p><div class="actions">
    <%= f.submit "更新", class: "btn btn-primary " %>
  </div></p>
<% end %>

<p><%= button_to "アカウントをキャンセルする", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

<%= link_to "戻る", :back %>
</div>
